.plano-container{
    border:2px solid black; 
    width: 380px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
button{
    background-color: blueviolet;
    color: rgb(13, 15, 16);
}
.plano-titulo{
    font-weight: 700px;
}
.plano-info{
    font-size: 14px;
}
